.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 15px;
}
.box {
  width: 100%;
}
.thumb {
  margin-bottom: 10px;
  position: relative;
}
.img1 {
  width: 100%;
}
.pro-text {
  display: grid;
  grid-template-columns: 36px 1fr;
  column-gap: 10px;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
}
.pro {
  width: 100%;
  border-radius: 50%;
}
.p1 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.p2,
.p3 {
  font-size: 13px;
  margin-bottom: 5px;
}
.time{
  position: absolute;
  background-color: black;
  color: white;
  right: 5px;
  bottom: 10px;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-radius: 2px;
}
@media(max-width:800px){
  .grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:801px) and (max-width:999px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(min-width:1000px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}