.grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 40px;
        column-gap: 15px;
      }
      .box {
        width: 100%;
      }
      .thumb {
        margin-bottom: 10px;
      }
      .img1 {
        width: 100%;
      }
      .pro-text {
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 10px;
      }
      .text {
        font-family: Arial, Helvetica, sans-serif;
      }
      .pro {
        width: 50px;
        border-radius: 50%;
      }
      .p1 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .p2,
      .p3 {
        font-size: 14px;
        margin-bottom: 5px;
      }